<% if (user) { %>
    <button class="btn btn-link p-0 star-btn mt-2" data-livro-id="<%= livro.id %>">
        <% if (livro.favorito) { %>
            <i class="bi bi-star-fill"></i>
            <% } else { %>
                <i class="bi bi-star"></i>
                <% } %>
    </button>
    <% } else { %>
        <button class="btn btn-link p-0 mt-2" onclick="window.location.href='/login'">
            <i class="bi bi-star"></i>
        </button>
        <% } %>