<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

<nav class="navbar fixed-top navbar-expand-lg navbar-dark justify-content-between" style="background-color: #1E1E1E;">
    <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="/images/logo.png" alt="Logo" width="40" height="40" class="mr-2 rounded">
        BookHub
    </a>
    <div class="ml-auto d-flex align-items-center gap-2">
        <a class="btn btn-outline-primary my-2 my-sm-0" href="/admin/dashboard">Dashboard</a>
        <a class="btn btn-outline-primary my-2 my-sm-0" href="/admin/admLivros">Livros</a>
        <a class="btn btn-outline-primary my-2 my-sm-0" href="/admin/admCategoria">Categoria</a>
        <a class="btn btn-outline-primary my-2 my-sm-0" href="/admin/admUser">Usuários</a>
    </div>
</nav>